.App {
    width: 400px;
    text-align: center;
    border: #77bade solid 2px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.title {
    margin-top: 50px;
    font-size: 50px;
    width: 330px;
    height: 120px;
    background-color: #77bade;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn_group {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    border: #77bade solid 2px;
    padding: 10px;
    border-radius: 10px;
}

button {
    width: 100px;
    height: 35px;
    background-color: #77bade;
    border-radius: 5px;
    font-weight: bold;
    border: 0;
    padding: 0;
    font-size: 20px;
}

button:active {
    color: red;
}


